body{
  /* background-color: aqua; */
  background-image: linear-gradient(to right, aqua, #10d9bb);
}
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;
    /* background-color: #8accff; */
    background-image: linear-gradient(to right, #b3ddfd, #00B4D7);
    border-radius: 0.5rem;
  }
  
  .heading {
    font-weight: 500;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #ffc2c1;
  }
  
  .toolbar {
    width: 100%;
    display: flex;
    /* gap: 20px;
    justify-content: space-around;
    align-items: center; */
    justify-content: space-around;
    gap: 20px;
    align-items: flex-start;
  }
  
  .colors {
    display: flex;
    gap: 20px;
    padding: 0 30px;
  }
  
  .colors .color {
    height: 36px;
    width: 38px;
    border-radius: 50%;
    background-color: #239ce2;
  }
  .colors .active {
    border: 2px solid #000;
  }

  .tempsty {
    /* border: 2px solid saddlebrown; */
    padding: 0.5rem;
   
  }
  
  .toolbar button {
    padding: 8px 16px;
    border-radius: 5px;
    /* background-color: #e29623; */
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: flex;
    /* flex-direction: column; */
    gap: -10px;
    align-items: center;
    cursor: pointer;
    background-image: linear-gradient(to right, #10d9bb, #00d776, #0d9104);
    box-shadow: 3px 3px 6px #0000006c, 8px 8px 20px #00000030,
    -3px -3px 6px #ffffff90, -8px -8px 20px #ffffff30;
    
  }

  .toolbar button:hover {
    background-position: 20% 0;
    transition: all .4s ease-in-out;
    color: #000000;
    background-image: linear-gradient(to right, #0d9104, #00d776, #10d9bb);
  }
  
  .toolbar button svg {
    height: 20px;
    width: 20px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
  }
  


.imgs {
    border-color: #00d776;
    width: 120px;

  }

  .imgs .active {
    border: 2px solid #000;
  }

  .image {
    height :250px;
    display: flex;
  }

  @media only screen and (max-width: 600px) {


    .container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding-top: 0;
        /* background-color: #8accff; */
        background-image: linear-gradient(to right, #b3ddfd, #00B4D7);
        border-radius: 0.5rem;
      }
      
      .heading {
        font-weight: 300;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px #ffc2c1;
      }
      
      .toolbar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 0;
        align-items: flex-start;
      }
      
      .colors {
        display: flex;
        gap: 4px;
        padding: 0 30px;
      }
      
      .colors .color {
        height: 30px;
        width: 40px;
        border-radius: 50%;
        background-color: #239ce2;
      }
      .colors .active {
        border: 2px solid #000;
      }
    
      .tempsty {
        /* border: 2px solid saddlebrown; */
        padding: 0.5rem;
       
      }
      
      .toolbar button {
        padding: 4px 8px;
        margin-right: 7%;
        border-radius: 3px;
        /* background-color: #e29623; */
        color: #fff;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 1px;
        display: flex;
        gap: 0;
        align-items: center;
        cursor: pointer;
        background-image: linear-gradient(to right, #10d9bb, #00d776, #0d9104);
        box-shadow: 3px 3px 6px #0000006c, 8px 8px 20px #00000030,
        -3px -3px 6px #ffffff90, -8px -8px 20px #ffffff30;
    
      }
    
      .toolbar button:hover {
        background-position: 60% 0;
        transition: all .4s ease-in-out;
        color: #000000;
        background-image: linear-gradient(to right, #0d9104, #00d776, #10d9bb);
      }
      
      .toolbar button svg {
        height: 20px;
        width: 20px;
      }
      
      .main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 0.25rem;
      }   
    
      .imgs {
        border-color: #00d776;
        width: 120px;
    
      }
    
      .imgs .active {
        border: 2px solid #000;
      }
    
      .image {
        height :500px;
        display: flex;
      }
    
  }

